<p id="notice"><%= notice %></p>

<p>
  <strong>C name:</strong>
  <%= @class_list.c_name %>
</p>

<p>
  <strong>C account:</strong>
  <%= @class_list.c_account %>
</p>

<%= link_to 'Edit', edit_class_list_path(@class_list) %> |
<%= link_to 'Back', class_lists_path %>
