<!DOCTYPE html>
<html>
  <head>
    <title>GoormRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	  
	  <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>

  <body>
	  <nav>
		  <ul>
		  <% if user_signed_in? %>
		  	<li><%= link_to "회원정보", edit_user_registration_path %></li>
		  	<li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
		  	<li>아이디 : <%= current_user.email %></li>
		  	<li>유저 No. : <%= current_user.id %></li>
		  <% else %>
		  	<li><%= link_to "로그인", user_session_path %></li> 
		  	<li><%= link_to "회원가입", "/users/sign_up" %></li>
		  <% end %>
			  </ul>
	  </nav>
	  <hr/>
	  
	<div id="container">
		<%= yield %>
	  </div>
  </body>
</html>
